.slick-slide { 
    width: 290px !important;
    margin: 0 27px;
}

.product-text_container {
    width: 300px !important; 
}


.slider_hext_heading{
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
